.contact {
  padding: 65px 0;

  @include _600 {
    padding: 30px 0;
  }

  &__item {
    color: $tundora;
    font-style: normal;
    @include _1350 {
      &:nth-child(1) {
        grid-area: a;
      }
      &:nth-child(2) {
        grid-area: b;
      }
      &:nth-child(3) {
        grid-area: c;
      }
    }
    &:not(:first-child) {
      padding-top: 45px;
    }
  }

  &__inner {
    display: grid;
    column-gap: 85px;
    margin-bottom: 140px;
    grid-template-columns: 520px 1fr 1fr;
    @include _1350 {
    grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "a a"
        "b c";
      margin-bottom: 50px;
      column-gap: 30px;
    }

    @include _500 {
      display: block;
    }
  }

  &__title {
    font-size: 80px;

    @include _800 {
      font-size: 50px;
    }

    @include _600 {
      font-size: 36px;
    }
  }

  &__text {
    font-size: 18px;
    margin-bottom: 25px;
    max-width: 300px;

    @include _500 {
      max-width: 100%;
    }
  }

  &__link {
    display: block;
    position: relative;
    color: $black;
    font-size: 18px;
    line-height: 1.4;
    @extend %calibri-700;
    a {
      @extend %calibri-400;
    }
    &::after {
      content: "";
      left: 0;
      position: absolute;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: $black;
      transition: width 0.2s ease;
    }

    @include _hover {
      color: $black;
      &::after {
        width: 100%;
      }
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 650px 1fr;
    column-gap: 60px;

    @include _1200 {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
    }

    @include _600 {
      grid-template-columns: 1fr;
      row-gap: 40px;
    }
  }

  &__map {
    height: 644px;

    @include _1000 {
      height: 400px;
    }

    @include _800 {
      height: 300px;
    }
  }

  &__top {
    column-gap: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
  }

  &__label {
    width: 100%;
    border-bottom: 1px solid $tundora;
  }

  &__input {
    padding-bottom: 20px;
  }

  &__input,
  &__textarea {
    width: 100%;
    border: none;
    font-size: 15px;
    color: $tundora;

    &::placeholder {
      color: $black;
      text-transform: uppercase;
      font-size: 15px;
    }
  }

  &__textarea {
    resize: none;
    margin-bottom: 20px;
    height: 100px;
    padding: 0 10px 10px 0;
    outline: transparent;
  }

  &__btn {
    border: 1px solid $tundora;
    text-transform: uppercase;
    background-color: transparent;
    width: 190px;
    height: 60px;
    margin-top: 50px;
    font-size: 13px;
    letter-spacing: 0.12em;
    cursor: pointer;
    transition: color 0.2s ease, background-color 0.2s ease;
    @include _hover {
      background-color: $tundora;
      color: $white;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
