.error {
  padding: 65px 0;
  text-align: center;

  @include _800{
    padding: 30px 0;
  }

  &__title {
    font-size: 40px;
    @extend %calibri-400;
    margin-bottom: 30px;
    color: $tundora;
    span {
      display: block;
      @extend %calibri-700;
      color: $black;
      font-size: 288px;

      @include _600{
        font-size: 150px;
      }
    }

    @include _600{
      font-size: 30px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 1.4;
    color: $tundora;
    max-width: 530px;
    margin: 0 auto 20px;
  }

  &__link {
    padding: 20px 66px 20px 67px;
    background-color: $mineShaft;
    color: $white;
    text-transform: uppercase;
    border: 1px solid $mineShaft;
    transition: color 0.2s ease, background-color 0.2s ease;
    display: inline-block;
    font-size: 14px;
    line-height: 1.4;

    @include _hover {
      background-color: transparent;
      color: $mineShaft;
    }
  }
}
