.header {
  padding: 37px 0;
  background-color: $white;
  position: relative;
  z-index: 15;

  @include _600 {
    padding: 20px 0;
  }

  &__inner {
    display: grid;
    grid-template-columns: 210px 1fr 210px;
    align-items: center;
    text-transform: uppercase;
    z-index: 2;

    @include _1000 {
      grid-template-columns: 100px 1fr 205px;
    }

    @include _900 {
      grid-template-columns: 100px 1fr 45px;
      justify-items: flex-end;
    }

    @include _320 {
      grid-template-columns: 100px 1fr;
    }
  }

  &__content {
    display: flex;
    column-gap: 55px;
    width: 100%;
    justify-content: center;
    align-items: center;

    @include _900 {
      transform: translateY(-250%);
      background-color: $white;
      transition: all 1s ease;
      position: absolute;
      z-index: 11;
      flex-direction: column;
      font-size: 30px;
      row-gap: 30px;
      height: calc(100vh - 119px);
      inset: 50% 0 0;


      @include _landscape {
        padding-top: 125px;
      }
    }

    @include _600 {
      height: calc(100vh - 85px);
    }

    &--active {
      transform: translateY(calc(119px / 2));
      overflow: scroll;

      @include _600 {
        transform: translateY(calc(85px / 2));
      }

      .header__item {
        text-align: center;
        width: 100%;

        a {
          display: block;
        }
      }
    }
  }

  &__item {
    color: $doveGray;
    transition: color 0.2s ease;
    position: relative;

    @include _hover {
      color: $black;

      &::after {
        width: 100%;
      }
    }

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: $black;
      transition: width 0.2s ease;
    }
  }

  &__links {
    text-align: end;

    @include _900 {
      margin-right: 55px;
    }

    @include _600 {
      margin-right: 15px;
    }

    @include _400 {
      margin-right: 5px;
    }

    @include _320 {
      display: none;
    }
  }

  &__link {
    transition: text-decoration 0.2s ease;
    font-size: 15px;
    letter-spacing: 0.21em;
    display: block;
    transition: color 0.2s ease;

    @include _hover {
      color: $doveGray;
    }

    @include _600 {
      font-size: 12px;
    }

    @include _400 {
      font-size: 10px;
    }
  }

  &__btn {
    max-width: 45px;
    height: 45px;
    width: 100%;
    border-radius: 50%;
    border: 1px solid $black;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    display: none;

    @include _900 {
      display: flex;
    }

    span {
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $black;
      position: relative;

      @include _600 {
        width: 4px;
        height: 4px;
      }

      &::after,
      &::before {
        width: 5px;
        position: absolute;

        content: "";
        height: 5px;
        border-radius: 50%;
        background-color: $black;

        @include _600 {
          width: 4px;
          height: 4px;
        }
      }

      &::after {
        left: 8px;
      }

      &::before {
        left: -8px;
      }
    }
  }
}
