.posts {
  padding: 65px 0;
  position: relative;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 351px;
    column-gap: 92px;

    @include _1000 {
      column-gap: 30px;
    }

    @include _900 {
      display: unset;
    }
  }

  &__item {
    max-width: 872px;
    width: 100%;
  }

  &__wrapper {
    display: flex;
  }

  &__btn {
    display: none;
    @include _900 {
      position: fixed;
      width: 40px;
      height: 40px;
      background-color: $white;
      right: 0;
      top: 50%;
      z-index: 1;
      border: 1px solid $black;
      display: block;

      &::before {
        position: absolute;
        content: url("../../images/icons/search.svg");
        width: 16px;
        height: 16px;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
    }
    &.posts__btn--active {
      &::before {
        content: url("../../images/icons/close.svg");
      }
    }
  }
}

.aside {
  @include _900 {
    position: fixed;
    left: 0;
    top: 0;
    height: calc(100vh + 27px);
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.2s ease;
    background-color: $white;
    padding: 25px;

    &--active {
      transform: translateX(0);
    }

    @include _600 {
      width: 100%;
    }
  }

  &__form {
    width: 350px;

    @include _600 {
      width: 100%;
    }
  }

  &__input {
    width: 100%;
    border: 1px solid $black;
    height: 60px;
    padding: 0 15px 0 56px;
    cursor: pointer;
    transition: color 0.2s ease;
    &::placeholder {
      text-transform: uppercase;
      letter-spacing: 0.09em;
      color: $black;
    }
    @include _hover {
      border: 1px solid $silverChalice;
    }
    &:focus {
      border: 1px solid $silverChalice;
    }
  }

  &__label {
    position: relative;
    margin-bottom: 81px;
    &::before {
      position: absolute;
      content: "";
      background-image: url("../../images/icons/search.svg");
      width: 16px;
      height: 16px;
      left: 27px;
      top: 19px;
      z-index: 4;
    }
  }

  &__title {
    font-size: 22px;
    margin-bottom: 35px;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    &:not(&--row) {
      flex-direction: column;
    }
    row-gap: 12px;
    &--row {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__item {
    font-size: 19px;
    color: $doveGray;
    cursor: pointer;
    transition: color 0.2s ease;
    &:not(:last-child) {
      margin-right: 5px;
    }
    @include _hover {
      color: $black;
    }
  }

  &__wrapper {
    margin-bottom: 67px;
  }

  &__time {
    display: block;
    color: $silverChalice;
    font-size: 15px;
    padding-top: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__icon {
    font-size: 20px;
    padding-top: 23px;
    cursor: pointer;
    transition: color 0.2s ease;
    @include _hover {
      color: $silverChalice;
    }
    &:not(:last-child) {
      border-bottom: 1px solid $silverChalice;
    }
    a {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    line-height: 1.4;
    font-size: 20px;
    color: $tundora;
  }
}

.pagination {
  display: flex;
  &__link {
    width: 56px;
    height: 56px;
    color: $mineShaft;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.2s ease, background-color 0.2s ease;
    @include _hover {
      background-color: $mineShaft;
      color: $white;
    }
  }
}
