.single {
  padding: 65px 0;

  @include _600 {
    padding: 30px 0;
  }

  &__image {
    display: inline-block;
    max-width: 144px;
    height: 181px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include _1000 {
      height: 70px;
    }

    @include _500{
      height: 100px; 
    }
  }

  &__img {
    display: inline-block;
    width: 590px;
    height: 704px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include _1200{
      width: 100%;
    }

    @include _1000{
      height: 400px;
    }

    @include _600{
      height: 250px;
    }
  }

  &__inner {
    margin-bottom: 100px;
    display: grid;
    grid-template-areas:
    "images title"
    "images price"
    "images reviev"
    "images text"
    "images cart"
    "images info";
    // grid-template-rows: 1fr 47px 50px 1fr 55px 75px; 
    grid-template-rows: max-content; 
    grid-row-gap: 10px;
    grid-template-columns: 735px 1fr;
    column-gap: 40px;

    @include _1200{
      grid-template-columns: 1fr 1fr;
    }

    @include _1000 {
      grid-template-areas:
        "images title"
        "images price"
        "images reviev"
        "text text"
        "cart info";
        margin-bottom: 50px;
    }

    @include _600{
      column-gap: 20px;
      grid-template-areas:
      "images title"
      "images reviev"
      "images price"
      "text text"
      "cart cart"
      "info info";
      grid-template-columns: 1fr 150px;
    }

    @include _500{
      grid-template-areas:
      "images images"
      "title title"
      "reviev price"
      "text text"
      "cart cart"
      "info info";
      grid-template-columns: 1fr 100px;
    }
  }

  &__wrapper {
    display: flex;
    grid-area: images;

    @include _1350 {
      width: 100%;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    row-gap: 25px;

    @include _600{
      row-gap: 10px;
      margin-right: 15px;
    }
  }

  &__title {
    font-size: 48px;
    grid-area: title;
    padding-top: 88px;
    margin-bottom: 12px;

    @include _600{
      padding-top: 0;
      font-size: 36px;
    }
  }

  &__price {
    font-size: 28px;
    color: $tundora;
    grid-area: price;
    margin-bottom: 13px;
  }

  &__reviev {
    font-size: 18px;
    color: $tundora;
    margin-bottom: 25px;
    grid-area: reviev;

    svg {
      color: $black;
    }

    @include _1000{
      margin-bottom: 150px;
    }

    @include _800{
      margin-bottom: 90px;
    }

    @include _600{
      margin-bottom: 10px;
      span{
        display: block;
      }
    }
  }

  &__text {
    font-size: 19px;
    color: $tundora;
    margin-bottom: 50px;
    grid-area: text;

    @include _1000{
      padding-top: 30px;
    }

    @include _800{
      padding-top: 0;
      margin-bottom: 20px;
    }
  }

  &__counter {
    border: 1px solid $black;
    width: 109px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 33px;
  }

  &__info {
    grid-area: info;
    margin-bottom: 95px;

    @include _1000{
      margin-bottom: 0;
    }
  }

  &__num {
    width: 40px;
    font-size: 19px;
    height: 53px;
    text-align: center;
  }

  &__plus {
    padding: 15px 25px 15px 0;
  }

  &__minus {
    padding: 15px 0 15px 25px;
  }

  &__minus,
  &__plus,
  &__num {
    border: none;
    background-color: $white;
    color: $black;
  }

  &__cart {
    display: flex;
    margin-bottom: 55px;
    grid-area: cart;

    @include _1000{
      margin-bottom: 0;
    }

    @include _600{
      margin-bottom: 20px;
    }
  }

  &__btn {
    color: $white;
    background-color: $black;
    border: 1px solid $black;
    text-transform: uppercase;
    transition: color 0.2s ease, background-color 0.2s ease;
    width: 190px;
    height: 55px;
    @include _hover {
      background-color: $white;
      color: $black;
    }
  }

  &__icon {
    font-size: 18px;
    @extend %calibri-700;
    span {
      color: $doveGray;
      padding-left: 10px;
      @extend %calibri-400;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.tabs {
  max-width: 950px;
  margin: 0 auto;
  &__item {
    display: none;
    line-height: 1.8;
    padding-top: 35px;
    padding: 35px 5px 0;
    min-height: 130px;
    &.tabs__item--active {
      display: block;
    }
  }

  &__top {
    border-bottom: 1px solid $mercury;

    @include _700 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }
  }

  &__link {
    padding: 0 45px 25px;
    font-size: 19px;
    display: inline-block;
    position: relative;
    margin-bottom: -1px;
    &--active {
      border-bottom: 1px solid $black;
    }

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -1px;
      width: 0;
      height: 1px;
      background-color: $black;
      transition: width 0.2s ease;
    }

    @include _hover {
      &::after {
        width: 100%;
      }
    }

    @include _700 {
      padding: 0 20px 25px;
    }

    @include _600 {
      padding: 0 0 15px;
    }
  }
}
