.testimonial {
  padding: 65px 0;

  @include _600 {
    padding: 30px 0;
  }

  &__wrapper {
    display: flex;
    justify-content: flex-end;

    @include _1000 {
      display: unset;
    }
  }

  &__content {
    max-width: 490px;
    margin-right: 55px;
    width: 100%;

    @include _1000 {
      max-width: 100%;
    }
  }

  &__list {
    display: flex;
    column-gap: 70px;

    @include _600 {
      display: unset;
    }
  }

  &__item {
    max-width: 455px;
    width: 100%;
    position: relative;
    padding-top: 90px;
    margin-bottom: 60px;

    &::before {
      position: absolute;
      content: "";
      background: no-repeat url("../../images/icons/blockquote.svg");
      width: 67px;
      height: 54px;
      top: 0;
      left: 0;
    }

    @include _600 {
      padding-top: 0;
    }
  }

  &__picture {
    color: $silverChalice;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 22px;
    @extend %calibri-300;
    margin-bottom: 45px;
    color: $tundora;

    @include _1200 {
      font-size: 16px;
    }

    @include _600 {
      margin-bottom: 20px;
    }
  }

  &__cite {
    padding-left: 60px;
    color: $tundora;
    font-style: normal;
    text-transform: uppercase;
    position: relative;

    span {
      display: block;
      padding-left: 60px;
      color: $doveGray;
      text-transform: initial;
    }

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 35px;
      background-color: $tundora;
      left: 0;
      top: 7px;
    }
  }

  &__inner {
    background: no-repeat url("../../images/content/bg1.jpg");
    background-size: cover;
    background-position: center;
    height: 818px;
    width: 100%;
    display: flex;

    @include _900 {
      height: 650px;
    }

    @include _600 {
      height: 400px;
      align-items: flex-end;
    }
  }

  &__wrap {
    display: flex;
    height: 100%;
    align-items: flex-end;

    @include _500 {
      flex-wrap: wrap;
    }
  }

  &__box {
    background-color: $white;
    margin-right: 25px;
    padding: 97px 41px 30px 41px;
    &:nth-child(2) {
      padding: 73px 90px 73px 90px;
      @include _900 {
        padding: 41px;
      }

      @include _500{
        margin-right: 10px;
      }
    }

    @include _900 {
      padding: 60px 20px 40px 20px;
    }

    @include _600{
      padding: 45px 29px 40px 28px;
      text-align: center;
    }

    @include _500{
      padding: 34px 19px 33px 19px
    }
  }

  &__info {
    display: flex;
    align-items: center;
    font-size: 72px;

    span {
      font-size: 18px;
      line-height: 1;
      padding-left: 10px;
      width: 90px;
    }

    @include _900 {
      font-size: 40px;
    }

    @include _600 {
      font-size: 25px;
      display: unset;
      text-align: center;

      span {
        font-size: 16px;
        display: block;
        padding-left: 0;
      }
    }
  }

  &__img {
    width: 65px;
    height: 64px;
    background-color: $pirateGold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: width 0.2s ease, height 0.2s ease;

    @include _500 {
      width: 45px;
      height: 45px;
    }

    svg {
      color: $white;
      transform: translateX(4px);

      @include _500 {
        width: 15px;
        height: 15px;
        margin-right: 2px;
      }
    }

    @include _hover {
      width: 80px;
      height: 80px;
    }
  }

  &__link {
    color: $white;
    margin-bottom: 50px;
    transition: color 0.2s ease;
    position: relative;

    svg {
      margin-left: 10px;
      transform: translateY(4px);
      color: $white;
      transition: color 0.2s ease;
    }

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -3px;
      width: 0;
      height: 1px;
      background-color: $white;
      transition: width 0.2s ease;
    }

    @include _hover {
      &::after {
        width: 100%;
      }
    }

    @include _600 {
      margin-bottom: 25px;
    }

    @include _500 {
      margin-bottom: 10px;
    }
  }

  &__blockquote {
    @include _600 {
      padding-left: 80px;
    }
  }
}
